<div align="center"><a>About</a> | <a>Investor</a> | <a>Privacy</a> | <a>Terms</a> | <a>Contact</a></div>
<div align="center"> <p>&copy; @DateTime.Now.Year - Usound Radio LLC. Missoula, MT USA</p></div>





@*<table style="float:left; margin-bottom:20px;">
    <tr>
        <td>
<div class="g-plusone" data-size="medium" data-width:"50px"></div>
        </td>
        <td>
                <div class="fb-like" data-href="http://facebook.com/usoundradio" data-send="false" data-layout="button_count" data-width="50px" data-show-faces="false">
</div>
        </td>
        <td>        <div><a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a></div>
</td>
    </tr>
   <!-- Place this tag where you want the +1 button to render. -->



    </table>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>*@
<style>
    footer
    {
        height: auto;
        background-color: #EDEDED;
    }

        footer div
        {
            padding-top: 5px;
            font-size: 14px;
        }

            footer div a
            {
                color: red;
                padding-right: 10px;
                padding-left: 10px;
                cursor: pointer;
                text-decoration: none;
            }
</style>
