

    <button data-bind="click: toggleSongRequestDialogVisible" title="Got a song request? Chavah will play whatever tune's on your mind.">Request Song</button>
    <button data-bind="click: playPause, attr: { src: playImage }">Play/Pause</button>
    <button data-bind="click: nextSong">Next</button>
