<div class="container">
    <div class="newpage">
  <div style="display:none" id="listenerpage">


   <h1> Listeners page shit</h1>
    <div style="min-height:500px"></div>
        <div  id="backhome" ><a class="btn">Back</a></div>
        <hr>
</div>
        </div>
    <div id="mainpage">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div  class="hero-unit">
          <div style="float:right"><img src="~/Content/images/slideshow/Musician%20Silhouette%20(1).png" width="420" /></div>
        <div style="max-width:500px"><h1>Coming Soon!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p></div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Listeners</h2>
          <p>Usound Radio allows listeners to customize radio stations to their preferences of location, and genre. Listeners can also search through all of the songs uploaded to Usound Radio by title, musician, album, genre, and location. Listeners can build custom playlists and create new radio stations at any time for free. </p>
          <p><a class="btn" id="listenerslink" href="#Listeners">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Musicians</h2>
          <p>Musicians who use Usound Radio are given an opportunity to promote their talent. Immediately after a musician uploads music to Usound Radio it will be heard by listeners all over the world. If a musician owns the copyright to their music they can upload or remove it at any time.</p>
          <p><a class="btn" href="#Musicians">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Promoters</h2>
          <p>Usound Radio helps promoters get their clients heard by a larger audience, and they can search out new potential clients. If promoters want, they can purchase data reports on musician’s popularity and demographics.</p>
          <p><a class="btn" href="#Promoters">View details »</a></p>
        </div>
      </div>
        </div>
      <hr>

     
    </div>
<!-- Listeners Page Content -->

<!-- End Listeners Page Content -->

<script>
    $(function () {
        $("#listenerslink").click(function () {
            $("#mainpage").hide();
            $("#listenerpage").fadeToggle();
           
        });
        $("#backhome").click(function () {
            $("#listenerpage").hide();

            $("#mainpage").fadeToggle();
          
        });
    });
</script>